
/*Uncomment the following lines to move facets to the left*/

/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/

/* --- farben --- */

/* jade basis 35% #00b2aa hier zu hell */
/* www.w3schools.com/colors/colors_picker.asp schema */
/* dunkler 30% #009991 hier basis 
	primary-color */
/* dunkler 25% #008079 */
/* dunkler 20% #006661 rgb(0, 102, 97)
	heller 45% #00e6da rgb(0, 230, 218)
    heller 90% #ccfffc 
    heller 95% #e6fffe -> stattdessen #e0f3f1 rgb(224, 243, 241) link-hintergrund */

/* dark gray #777676 */
/* mid gray #8c8d8c */

/* off darkgray #a9a9a9 
    secondary-color */
/* off gray #808080 
    tabs-and-scopes-selector/text 
    advanced search/text */
/* off lightgray #d3d3d3 
    primary-background 
    search-bar/hintergrund
    featured results/hintergrund */
/* off darkgreen
    frbr-versions link */

/* hellgrau #e9e9e9 
    links/hintergrund */
    
/* paletton.com schema, "triad" basiert auf #009991 */
/* jade #009991 */
/* gelb #fca600 
    heller 70% #ffcc66 rgb(255, 204, 102)
    heller 90% #ffeecc rgb(255, 238, 204)
    warning messages and icons */
/* rot #fa0006 
    warning messages and icons */



/* verfügbarkeit grün #0f7d00 -> stattdessen #80d062 -> darkgreen 
                 gelb #fca600 -> #fffcc4 -> darkorange */


/* --- schriftart --- */
/* ------------------ */

@import url('https://fonts.googleapis.com/css?family=Roboto');


/* --- basis --- */
/* ------------- */

body {
    font-family:'Roboto', sans-serif !important;
}

.prm-primary-color {
    color: #009991; /* jade */
}
.prm-secondary-color {
    color: #a9a9a9; /* dunkelgrau */
}
.prm-secondary-color, prm-search-bookmark-filter .md-button, prm-topbar .top-nav-bar {
    color: #a9a9a9; /* dunkelgrau */
}

md-content{
    background-color: white !important;  
    }
	
/* "spinner" (diamant) */
prm-spinner.light-on-dark .diamond {
    background-color: white; 
}
prm-spinner.dark-on-light .diamond {
    background-color: #d3d3d3; /* hellgrau */
}
prm-spinner.half-transparent .diamond {
    background-color: #009991; /* jade */
}


/* --- header und suchschlitz --- */
/* ------------------------------ */

/* library logo bigger */
prm-logo .product-logo {
    height: 100%;
    padding: 0em;
}

/* header top */
.prm-primary-bg.prm-hue1, prm-journals-search-bar.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark::after, prm-topbar .top-nav-bar {
    background-color: #00b2aa; /* zhb grün */
}

/* header - login etc */
prm-user-area md-fab-toolbar.md-left .md-toolbar-tools, prm-user-area md-fab-toolbar.md-right .md-toolbar-tools {
    background-color: #009991; /* jade */
}
prm-user-area .user-menu-button .user-name {
    color: white;
}
prm-user-area md-fab-toolbar.md-left .md-toolbar-tools, prm-user-area md-fab-toolbar.md-right .md-toolbar-tools {
    background-color: #00b2aa;
}
prm-user-area md-fab-toolbar ._md-fab-action-item, prm-user-area md-fab-toolbar .md-fab-action-item {
    background-color: #00b2aa; /* zhb grün */
}
.bar prm-authentication .md-button, .md-button.button-as-link {
    color: white;
}

/* header - hover */
.hoverable-over-dark:focus:not([disabled]), .hoverable-over-dark:hover:not([disabled]), .md-button.button-over-dark:focus:not([disabled]), .md-button.button-over-dark:hover:not([disabled]), prm-main-menu[menu-type=full] .md-button .md-input-container-dummy>.md-select-dummy:focus:not([disabled]), prm-main-menu[menu-type=full] .md-button .md-input-container-dummy>.md-select-dummy:hover:not([disabled]):focus, prm-main-menu[menu-type=full] .md-button:focus:not([disabled]), prm-main-menu[menu-type=full] .md-button:hover:not([disabled]), prm-main-menu[menu-type=full] .md-button md-select:focus:not([disabled]), prm-main-menu[menu-type=full] .md-button md-select:hover:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item .md-input-container-dummy>.md-select-dummy:focus:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item .md-input-container-dummy>.md-select-dummy:hover:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item:focus:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item:hover:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item md-select:focus:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item md-select:hover:not([disabled]):focus, prm-main-menu[menu-type=full] md-card:focus:not([disabled]), prm-main-menu[menu-type=full] md-card:hover:not([disabled]), prm-topbar .md-button:focus:not([disabled]), prm-topbar .md-button:hover:not([disabled]), prm-user-area .md-button.user-menu-button:focus:not([disabled]), prm-user-area .md-button.user-menu-button:hover:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:focus:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:hover:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:focus:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-button:focus:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-button:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:focus:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]) {
    color: #fff;
    background-color: black;
}

/* header - mobile */
.duedate > span.prm-alt-link.prm-hue1, .fulltext > span.prm-alt-link.prm-hue1, .fulltext_linktorsrc > span.prm-alt-link.prm-hue1, .getit > span.prm-alt-link.prm-hue1, .login-dialog .collapsable-container md-list md-list-item .prm-alt-link.prm-hue1.md-list-item-inner, .login-dialog .md-list md-list-item .md-list-item-text .prm-alt-link.prm-hue1.list-item-title, .login-dialog .md-list md-list-item .md-list-item-text h3.prm-alt-link.prm-hue1, .login-dialog md-list md-list-item .md-list-item-text .prm-alt-link.prm-hue1.list-item-title, .login-dialog md-list md-list-item .md-list-item-text h3.prm-alt-link.prm-hue1, .md-button.arrow-link-button .prm-alt-link.prm-hue1.button-content, .md-button.arrow-link-button .prm-alt-link.prm-hue1[link-arrow], .not_restricted > span.prm-alt-link.prm-hue1, .prm-links.prm-alt-link.prm-hue1, .restricted > span.prm-alt-link.prm-hue1, .separate-list-items md-list-item .item-loader-with-text .prm-alt-link.prm-hue1.md-button, .tiles-grid-tile .tile-header .header-link .prm-alt-link.prm-hue1.arrow-icon, .tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:focus, .tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:hover, .tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.md-button, .worldcat > span.prm-alt-link.prm-hue1, [class*="_more"] > span.prm-alt-link.prm-hue1, [class*="_unknown"] > span.prm-alt-link.prm-hue1, [class*="available"] > span.prm-alt-link.prm-hue1, [class*="check_"] > span.prm-alt-link.prm-hue1, [class*="does_not_exist"] > span.prm-alt-link.prm-hue1, [class*="FT"] > span.prm-alt-link.prm-hue1, [class*="may_"] > span.prm-alt-link.prm-hue1, [class*="NFT"] > span.prm-alt-link.prm-hue1, [class*="no_"] > span.prm-alt-link.prm-hue1, [class*="unavailable"] > span.prm-alt-link.prm-hue1, a.prm-alt-link.prm-hue1, md-grid-tile .tile-header .header-link .prm-alt-link.prm-hue1.arrow-icon, md-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:focus, md-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:hover, md-grid-tile .tile-header .prm-alt-link.prm-hue1.md-button, md-input-container.has-fixed-message [ng-message] a.prm-alt-link.prm-hue1, md-list-item.prm-alt-link.prm-hue1.list-item-as-link, md-tabs.tabs-as-app .prm-alt-link.prm-hue1.back-button, md-tabs.tabs-as-links md-tab-item.prm-alt-link.prm-hue1, prm-collection-discovery-view-switcher .prm-hue1.md-button.is-active, prm-main-menu[menu-type="full"] md-card .md-headline, prm-tags-list .md-chips .md-chip .md-chip-content strong.prm-alt-link.prm-hue1, prm-tags-list .md-chips md-chip .md-chip-content strong.prm-alt-link.prm-hue1, prm-tags-list md-chips .md-chip .md-chip-content strong.prm-alt-link.prm-hue1, prm-tags-list md-chips md-chip .md-chip-content strong.prm-alt-link.prm-hue1 {
    color: #009991;
}

/* menu - mobile */
/* md-dialog.light-on-dark-dialog {
    background-color: rgba(240,245,245,0.05); */

/* suchschlitz */
.prm-primary-bg, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark::after {
    color: #ffffff; /* hellgrau */
    background-color: #d3d3d3; /* hellgrau */
}

/* suchschlitz - durchsuchen button neben suchschlitz, einfache und erweiterte suche buttons von durchsuchen */
prm-search-bar .search-switch-buttons {
    color: #fffffc;
    padding-top: 0em;
}
.switch-to-search {
    color: #fffffc;
    min-width: 7rem;
    top: 2.1rem;
    left: 1.8rem;
    height: 2rem;
    /* display: none;*/
}
.switch-to-browse {
    color: #fffffc;
    top: 3.2rem;
    padding-right: 3rem;
}
.switch-to-advanced.zero-margin.button-with-icon.md-button.md-primoExplore-theme.md-ink-ripple:hover {
    color: #009991; /* jade */
}
.switch-to-simple.zero-margin.button-with-icon.md-button.md-primoExplore-theme.md-ink-ripple {
    color: white;
}
.switch-to-simple.zero-margin.button-with-icon.md-button.md-primoExplore-theme.md-ink-ripple:hover {
    color: #009991; /* jade */
}

/* suchen, lupe, hintergrund usw. */
#magnifying-glass_cache36 {
    /* color: #fe4d55; */
    color: white;
    background-color: #00b2aa; /* zhb grün */
}
.md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon+span, .service-form-static-panel button.button-confirm prm-icon svg path {
    /* color: #fe4d55; */
    color: white;
    background-color: #009991; /* jade */
}
.md-button.button-confirm._md-focused:not([disabled]), .md-button.button-confirm.hovered:not([disabled]), .md-button.button-confirm.md-focused:not([disabled]), .md-button.button-confirm:focus:not([disabled]), .md-button.button-confirm:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon+span._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon+span.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon+span.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon+span:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon+span:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:hover:not([disabled]) {
    color: white;
    background-color: rgba(0,0,0,1); /* black */
    /* background-color: rgba(254,77,85,0.35); /* rot #fe4d55 */ 
}

/* tabs and scopes */
prm-tabs-and-scopes-selector {
    color: #808080    
}

/* start page html tooltips in html */

/* autocomplete/suggestion scope */
.md-autocomplete-suggestions .suggestion-scope, .prm-primary-color, .request-form md-input-container .md-input-container-dummy>.md-select-dummy ._md-select-value._md-select-placeholder, .request-form md-input-container .md-input-container-dummy>.md-select-dummy .md-select-value.md-select-placeholder, .request-form md-input-container label, .request-form md-input-container label:not(.md-no-float):not(._md-container-ignore), .request-form md-input-container md-select ._md-select-value._md-select-placeholder, .request-form md-input-container md-select .md-select-value.md-select-placeholder, .result-item-actions .md-icon-button, .result-item-actions .more-options-button, md-tab-content .tab-content-header md-input-container md-select-value .md-text, md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active:not([disabled]), md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-focused:not([disabled]), prm-add-query-to-saved-searches .custom-button {
    color: #009991; /* jade */
}

/* alert bar, background - gray */
.bar.alert-bar, .classic-input .search-scope, .prm-alert, .prm-alert-bg, .prm-alert-border {
    background-color: #808080;
    border-color: #808080;
    color: white;
    /* keep alert and message bars apart */
    margin-top: 35px;
}

/* start page html */
.md-headline {
    font-weight: bold;
    font-size: 100%;
    line-height: 1.2em;
}


/* --- allgemein --- */
/* ----------------- */

/* links */
.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content, .md-button.arrow-link-button:focus .button-content, .md-button.arrow-link-button:hover .button-content, .prm-links-hover.prm-hue-1, .recommendations-title.hover > span > span, .recommendations-title:hover > span > span, a.hover, a:focus, a:hover, prm-citation-trails-item.active-item md-card > .md-button:focus .item-title span, prm-citation-trails-item.active-item md-card > .md-button:hover .item-title span {
    color: #009991; /* jade */
}

/* links - kein unterstrich */
.login-dialog .collapsable-container md-list md-list-item .md-list-item-inner, .login-dialog .md-list[class$="-line"] md-list-item .md-list-item-text .list-item-title, .login-dialog .md-list[class$="-line"] md-list-item .md-list-item-text h3, .login-dialog .md-list[class$="-line"] md-list-item > .md-no-style .md-list-item-text .list-item-title, .login-dialog .md-list[class$="-line"] md-list-item > .md-no-style .md-list-item-text h3, .login-dialog .md-list md-list-item .md-list-item-text .list-item-title, .login-dialog .md-list md-list-item .md-list-item-text h3, .login-dialog .md-list md-list-item > .md-no-style .md-list-item-text .list-item-title, .login-dialog .md-list md-list-item > .md-no-style .md-list-item-text h3, .login-dialog md-list md-list-item .md-list-item-text .list-item-title, .login-dialog md-list md-list-item .md-list-item-text h3, .login-dialog md-list md-list-item > .md-no-style .md-list-item-text .list-item-title, .login-dialog md-list md-list-item > .md-no-style .md-list-item-text h3, .md-button.arrow-link-button .button-content, .md-button.arrow-link-button [link-arrow], .prm-links, .separate-list-items md-list-item .item-loader-with-text .md-button, .tiles-grid-tile .tile-header .header-link .arrow-icon, .tiles-grid-tile .tile-header .header-link:hover, .tiles-grid-tile .tile-header .md-button, a, md-grid-tile .tile-header .header-link .arrow-icon, md-grid-tile .tile-header .header-link:hover, md-grid-tile .tile-header .md-button, md-input-container.has-fixed-message [ng-message] a, md-list-item.list-item-as-link, md-tabs.tabs-as-app .back-button, md-tabs.tabs-as-links md-tab-item, md-tabs.tabs-as-links md-tab-item:not([disabled]) {
     color: #009991; /* jade */
}

/* links - hintergrund */
.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content, .md-button.arrow-link-button:focus .button-content, .md-button.arrow-link-button:hover .button-content, .prm-links-background.prm-hue-1, .recommendations-title.hover>span>span, .recommendations-title:hover>span>span, a.hover, a:focus, a:hover, prm-citation-trails-item.active-item md-card>.md-button:focus .item-title span, prm-citation-trails-item.active-item md-card>.md-button:hover .item-title span, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong, prm-tags-list .md-chips md-chip .md-chip-content:hover strong, prm-tags-list md-chips .md-chip .md-chip-content:hover strong, prm-tags-list md-chips md-chip .md-chip-content:hover strong {
    background-color: #e0f3f1; /* hellgrün */
}

/* links - hover kein unterstrich */
.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content, .md-button.arrow-link-button:focus .button-content, .md-button.arrow-link-button:hover .button-content, .recommendations-title.hover>span>span, .recommendations-title:hover>span>span, a.hover, a:focus, a:hover, prm-citation-trails-item.active-item md-card>.md-button:focus .item-title span, prm-citation-trails-item.active-item md-card>.md-button:hover .item-title span, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong, prm-tags-list .md-chips md-chip .md-chip-content:hover strong, prm-tags-list md-chips .md-chip .md-chip-content:hover strong, prm-tags-list md-chips md-chip .md-chip-content:hover strong {
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0);
}

/* links - hover war dunkelblau mit hellblauem hintergrund */
.md-button.button-link._md-focused:not([disabled]), .md-button.button-link.hovered:not([disabled]), .md-button.button-link.md-focused:not([disabled]), .md-button.button-link:focus:not([disabled]), .md-button.button-link:hover:not([disabled]), .tiles-grid-tile .tile-content > .md-button._md-focused:not([disabled]), .tiles-grid-tile .tile-content > .md-button.hovered:not([disabled]), .tiles-grid-tile .tile-content > .md-button.md-focused:not([disabled]), .tiles-grid-tile .tile-content > .md-button:focus:not([disabled]), .tiles-grid-tile .tile-content > .md-button:hover:not([disabled]), md-grid-tile .tile-content > .md-button._md-focused:not([disabled]), md-grid-tile .tile-content > .md-button.hovered:not([disabled]), md-grid-tile .tile-content > .md-button.md-focused:not([disabled]), md-grid-tile .tile-content > .md-button:focus:not([disabled]), md-grid-tile .tile-content > .md-button:hover:not([disabled]) {
    color: #009991;
    background-color: rgba(224,243,241,.1); /* hellgrün */
}

/* buttons hover */
.bar prm-authentication .md-button._md-focused:not([disabled]), .bar prm-authentication .md-button.hovered:not([disabled]), .bar prm-authentication .md-button.md-focused:not([disabled]), .bar prm-authentication .md-button:focus:not([disabled]), .bar prm-authentication .md-button:hover:not([disabled]), .md-button.button-as-link._md-focused:not([disabled]), .md-button.button-as-link.hovered:not([disabled]), .md-button.button-as-link.md-focused:not([disabled]), .md-button.button-as-link:focus:not([disabled]), .md-button.button-as-link:hover:not([disabled]) {
    color: black;
    background-color: rgba(92,146,189,.1);
}

/* mitteilung verwerfen */
.dismiss-alert-button.zero-margin.md-button.md-primoExplore-theme.md-ink-ripple.button-with-icon:hover {
    /* color: white !important; */
    color: #009991;
}


/* --- erweiterte suche --- */
/* ------------------------ */
prm-search-bar {
    color: #808080;
}

/* zeile löschen */
.md-button.button-notice {
    color: #fe4d55; /* rot */
}
.md-button.button-notice._md-focused:not([disabled]), .md-button.button-notice.hovered:not([disabled]), .md-button.button-notice.md-focused:not([disabled]), .md-button.button-notice:focus:not([disabled]), .md-button.button-notice:hover:not([disabled]) {
    color: white;
    background-color: #fe4d55; /* rot */
}


/* --- browse search --- */
/* --------------------- */
prm-browse-search-bar {
    background-color: #d3d3d3;
}


/* --- tags search --- */
/* ------------------- */
prm-tags-search-bar {
    background-color: #d3d3d3;
}


/* --- suchergebnisse --- */
/* ---------------------- */

/* brief result, title */
prm-brief-result .item-title span {
    /* jade 30% */
    color: #009991;
}

/* peer reviewed */
.peer-reviewed-mark-icon {
    color: gray !important;
}
.peer-reviewed-mark span {
    font-weight: 500;
    font-size: 0.9em;
    padding-left: 5px;
    color:black;
}

/* 99999 ergebnisse */
.layout-align-center-center > *, .layout-align-end-center > *, .layout-align-space-around-center > *, .layout-align-space-between-center > *, .layout-align-start-center > * {
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

/* verfügbarkeit */
/* online, verfügbarkeit prüfen; in bibliotheken vorhanden, verfügbarkeit prüfen usw. */
.fulltext, .fulltext_linktorsrc, .not_restricted, .prm-positive, .status-available, [class*="available"], [class*="FT"] {
    color: darkgreen;
}
/* in bibliotheken vorhanden, nicht verfügbar */
.duedate, .prm-negative, .restricted, .status-unavailable, [class*="no_"], [class*="unavailable"] {
    color: #fe4d55 !important; /* rot */
}
/* verfügbarkeit prüfen */
.availability-status.check_holdings {
    color: #fca600;
}

/* versionen */
/* x versionen gefunden in results tile code table */
/* versionen icon usw. */
#multiple-items {
    /* color: #fe4d55; /* rot */ 
    color: gray;
}

/* search word hightlight */
.text-highlight, mark {
    box-shadow: inset 0 1em 0 0 #fffcc4; /* hellgelb */
}
mark {
    background-color: #fffcc4;
    color: inherit;
}

/* facet values */
.section-content .md-chips .md-chip .md-chip-content {
    max-width: calc(100% - 2em);
    overflow: hidden;
    cursor: pointer;
    padding-left: .35em;
    padding-right: .35em;
    border-radius: 3px;
    /* jade 30% */
    color: #009991;
}

/* facets, check box checked */
.prm-secondary-bg.prm-hue2, md-checkbox.md-checked ._md-icon, md-checkbox.md-checked .md-icon, md-progress-linear[md-mode=indeterminate].header-progress-bar .prm-hue2.md-bar, md-radio-group.layout-row.md-focused md-radio-button.md-checked :before {
    background-color: #64a5b5;
}

/* further search */
.idslu-furthersearch {
    padding-left: 25px;
}

/* always display facets lock */
.md-button.md-primary {
    color: #009991;
}
prm-facet prm-breadcrumbs div.md-chip-content strong {
    padding-left: 22px;
}
prm-breadcrumbs .md-chips .md-chip-content .persistence-button {
    opacity: 1;
    transform: none;
    padding-left: -2px;
}
prm-breadcrumbs .md-chip.persistent-facet strong {
    padding-left: 0;
}
prm-breadcrumbs .md-chip.persistent-facet .md-chip-content .persistence-button {
    left: -1px;
}

/* featured results */
prm-featured-results {
    background-color: #d3d3d3
}
a.featured-results-link.button-as-link.zero-margin.md-button.md-primoExplore-theme.md-ink-ripple {
    color: #009991;
}
.margin-right-medium.flex-15 {
    padding-left: 7px;
}

/* personalisieren */
.prm-personalization-bg, .sidebar .personalization-section .sidebar-list li::before, .sidebar .personalization-section md-checkbox.md-checked .md-icon, .sidebar .personalization-section ul li::before, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-thumb {
    /* background-color: #7d1538; */
    background-color: #fe4d55; /* rot */
}
.prm-personalization, .sidebar .personalization-section .section-title-header, .sidebar .personalization-section .sidebar-list, .sidebar .personalization-section md-checkbox, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-label, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-label, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-label, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-label {
    color: #fe4d55; /* rot */
}
.prm-personalization-bg, .sidebar .personalization-section .sidebar-list li::before, .sidebar .personalization-section md-checkbox.md-checked .md-icon, .sidebar .personalization-section ul li::before, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-thumb {
    background-color: #fe4d55; /* rot */
}

/* titel, weitere aktionen */
/*bibtex */
.md-button.md-primary._md-focused:not([disabled]), .md-button.md-primary.hovered:not([disabled]), .md-button.md-primary.md-focused:not([disabled]), .md-button.md-primary:focus:not([disabled]), .md-button.md-primary:hover:not([disabled]) {
    color: #009991; /* jade */
    background-color: rgba(92,146,189,.1); /* hellblau */
}
/*alle andere */
.md-button._md-focused:not([disabled]), .md-button.hovered:not([disabled]), .md-button.md-focused:not([disabled]), .md-button:focus:not([disabled]), .md-button:hover:not([disabled]) {
    color: #009991;
    background-color: rgba(92,146,189,.1); /* hellblau */
}


/* --- details --- */
/* --------------- */

/* menu reihenfolge */
.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}
[aria-label="View it"] { order: 0 !important; } /* view it/online anzeigen */
[aria-label="Online"] { order: 0 !important; } 
[aria-label="Get it"] { order: 1 !important; }
[aria-label="Details"] { order: 2 !important; }
[aria-label="Virtual Browse"] { order: 3 !important; } /* virtual browse/virtuelles regal */
[aria-label="Virtuelles Regal"] { order: 3 !important; } 
[aria-label="Citations"] { order: 4 !important; } /* */
[aria-label="Zitate"] { order: 4 !important; } /* */
[aria-label="Weitere Links"] { order: 5 !important; }
[aria-label="Tags"] { order: 6 !important; }
[aria-label="Send to"] { order: 7 !important; } /* send to/senden an */
[aria-label="Senden an"] { order: 7 !important; } 
/* altmetrics 8 */
/* bibtip 9 */
.accessible-explore { order: 10; } /* syndetics unbound */

[aria-label="Nach oben"] { order: 11 !important; padding-top: 150px; }
/* weitere services verstecken */
[aria-label="Weitere Services"] { display: none !important; } /* /weitere services */

/* abschnitt reihenfolge */
#getit_link1_0 { order: 0; } /* online anzeigen */
#getit_link2_0 { order: 1; } /* weitere services */
#details { order: 2; }
#virtualBrowse { order: 3; }
#citationTrails { order: 4; }
#links { order: 5; }
#tags { order: 6; }
#action_list { order: 7; } /* senden an */
/* altmetrics 8 */
.full-view-section #bibtip_reclist_container { order: 9; } /* bibtip */
.syndetic-unbound-section { order: 10;} /* syndetics unbound */

/* weitere services verstecken */
#getit_link2 {
    display: none;
}

/* close */
.prm-full-view-dialog ~ .close-button.md-icon-button prm-icon {
    color: #009991;
}

/* menu links left */
.md-button.button-link, .tiles-grid-tile .tile-content > .md-button, md-grid-tile .tile-content > .md-button {
    color: #009991;
}

/* display long menu options on 2 lines */  
prm-full-view .services-index-under .md-button {
    max-width: 100%;
    text-align: left;
    white-space: pre-line;
    line-height: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* display menu option "top" at the bottom of the window */
#services-index button[aria-label="Top"], #services-index button[aria-label="Nach oben"], .back-to-top {
    position: fixed;
    bottom: 2em;
    color: #009991;
    padding: 0.5em;
}

/* bibtip column right */
.bibtip_bx_style_container {
    background: white !important;
    padding-left: 10px !important;
} 
.bibtip_bx_style_header_text {
    font-size: 1.2em !important;
    font-family: 'Roboto', sans-serif !important;
	display: block;
	padding-top: 5px;
	padding-bottom: 10px;
}
.bibtip_bx_style_item.bibtip_bx_style_item_visible {
    padding-bottom: 10px;
}
.bibtip_bx_style_thumbnail {
    width: 90px;
    height: 128px;
}
.bibtip_bx_style_description a {
    font-size: 0.9em !important;
    font-family: 'Roboto', sans-serif !important;
    color: #009991 !important;
    padding-bottom: 10px !important;
}
.bibtip_bx_style_description {
    padding-bottom: 10px !important;
}
.bibtip_bx_style_more_button a {
    font-size: 0.9em !important;
    font-family: 'Roboto', sans-serif !important;
    color: #009991 !important;
}
.bibtip_bx_style_more_button {
    padding-top: 25px !important;
}

/* online section */
/* access link */
.prm-notice.idslu-access {
    background-color: #f3f3f3;
    padding-top: 25px;
}
/* feedback link */
.prm-notice.idslu-feedback {
    background-color: #f3f3f3;
    padding-top: 0px;
}

/* library/location section */
md-content.overflow-hidden._md.md-primoExplore-theme {
    background-color: #f3f3f3 !important;
}
md-list-item {
    background-color: #f3f3f3 !important;
}
/* libraries link */"
.prm-notice.idslu-libraries {
    background-color: #f3f3f3;
    padding-top: 25px;
}
/* feedback link */
.prm-notice.idslu-closures {
    background-color: #f3f3f3;
    padding-top: 0px;
}
/* highlight location */
.md-button._md-focused:not([disabled]), .md-button.hovered:not([disabled]), .md-button.md-focused:not([disabled]), .md-button:focus:not([disabled]), .md-button:hover:not([disabled]) {
    color: #009991;
    background-color: white;
}
/* reservation, bookings, and photocopies link */
button.button-as-link.md-button.md-primoExplore-theme.md-ink-ripple{
    color: #009991;
}
/* hide subheading and title level reservation link */
/* prm-request-services .section-title, prm-locations .section-title, prm-location-items .section-title {
    display: none;
} */
/* hide only title level reservation link */
.links-block-item .md-button.button-as-link {
    display: none;
}


/* --- miscellaneous --- */
/* --------------------- */

/* warning messages and icons - color scheme red #fa0006 */
.md-chip-remove-container button:focus md-icon, .md-chip-remove-container button:hover md-icon, .md-chips .md-chip.toggleable-chip .md-chip-remove-container prm-icon.close-button, .prm-warn, .required-starlet, md-input-container.md-input-invalid, md-input-container.md-input-invalid:before, md-input-container.md-required:before, prm-tags-list .md-chips.md-removable .md-chip .md-chip-remove md-icon, prm-tags-list .md-chips.md-removable md-chip .md-chip-remove md-icon, prm-tags-list md-chips.md-removable .md-chip .md-chip-remove md-icon, prm-tags-list md-chips.md-removable md-chip .md-chip-remove md-icon {
    /* color: #fa0006; */
    color: #fc4d55;
}
/* warning messages and icons - color scheme yellow #fca600 */
.getit, .md-button.arrow-link-button prm-search-result-frbr-line .button-content>prm-icon:first-child, .prm-notice, .status-maybe, .worldcat, [class*=_more], [class*=_unknown], [class*=check_], [class*=does_not_exist], [class*=may_], [class*=NFT], prm-search-result-frbr-line .md-button.arrow-link-button .button-content>prm-icon:first-child, prm-search-result-frbr-line a>prm-icon:first-child {
    /* color: #fca600; */
    /*color: #fffcc4;*/
    color: gray;
}


prm-search-bar-after {
    flex-direction: column;
    display: block;
    margin-left: -22.5px;
    margin-right: -22.5px;
    margin-bottom: -22.5px;
    margin-top: -20px;
    min-height: 50px;
}
.bar.error-bar {
    background-color: #ffdcda;
    border: none;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    color: #000;
    border-width: 0;
min-height: 25px;
}
.feedback.bar.alert-bar.layout-align-center-center.layout-row {
    background-color: #fe4d55; /* light red */
    border-color: #fe4d55;
    margin-top: 20px;
}
